In [ ]:
# Import Pandas
import pandas as pd

In [ ]:
# Create the DataFrame
# Creating student data
data = {
    "StudentID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", "Ivan", "Julia"],
    "Age": [20, 21, 19, 22, 20, 21, 23, 19, 22, 20],
    "Marks": [88, 75, 92, 65, 78, 85, 70, 95, 60, 80],
    "Grade": ["A", "B", "A", "C", "B", "A", "B", "A", "C", "B"]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A
3        104    Diana   22     65     C
4        105    Ethan   20     78     B
5        106    Fiona   21     85     A
6        107   George   23     70     B
7        108   Hannah   19     95     A
8        109     Ivan   22     60     C
9        110    Julia   20     80     B

In [ ]:
# Save DataFrame as CSV
df.to_csv("students.csv", index=False)
print("students.csv file saved successfully!")

students.csv file saved successfully!

In [ ]:
#Reload CSV into New DataFrame
new_df = pd.read_csv("students.csv")

print("\nReloaded DataFrame:")
print(new_df)

Reloaded DataFrame:
   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A
3        104    Diana   22     65     C
4        105    Ethan   20     78     B
5        106    Fiona   21     85     A
6        107   George   23     70     B
7        108   Hannah   19     95     A
8        109     Ivan   22     60     C
9        110    Julia   20     80     B

In [ ]:
#Display First 3 Rows
print("\nFirst 3 Rows:")
print(new_df.head(3))

First 3 Rows:
   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A

In [ ]:
#Display Statistical Summary
print("\nStatistical Summary:")
print(new_df.describe())

Statistical Summary:
       StudentID        Age      Marks
count   10.00000  10.000000  10.000000
mean   105.50000  20.700000  78.800000
std      3.02765   1.337494  11.535453
min    101.00000  19.000000  60.000000
25%    103.25000  20.000000  71.250000
50%    105.50000  20.500000  79.000000
75%    107.75000  21.750000  87.250000
max    110.00000  23.000000  95.000000

In [ ]:
#Explore Data Further
#Shape (Rows, Columns)
print("\nShape of DataFrame:")
print(new_df.shape)

Shape of DataFrame:
(10, 5)

In [ ]:
#Data Types
print("\nData Types:")
print(new_df.dtypes)

Data Types:
StudentID     int64
Name         object
Age           int64
Marks         int64
Grade        object
dtype: object

In [ ]:
#Info
print("\nDataFrame Info:")
print(new_df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  10 non-null     int64
 1   Name       10 non-null     object
 2   Age        10 non-null     int64
 3   Marks      10 non-null     int64
 4   Grade      10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None